.popup{
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup .popup-content{
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border: 4px double black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px 4px rgb(0,0,0);
}

.popup .popup-content input[type=text]{
    width: 100%;
    padding: 20px;
    height: 10px;
    outline: none;
    border: 1px solid black;
    border-radius: 6px;
}

.popup .popup-content button{
    margin-top: 20px;
    padding: 10px 5px;
    cursor: pointer;
    background-color: indigo;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 10px;
}
